MONGODB_URI="Your mongodb URI"
MONGODB_NAME="SmartPolicy"
OPENAI_API_KEY="Your OPENAI KEY"

CLOUDINARY_CLOUD_NAME="your Cloud name"
CLOUDINARY_API_KEY="cloudinary api key"
CLOUDINARY_API_SECRET="cloudinary api secret"

IMAGE_OCR="image Ocr api link"

